h1 {
    text-align: center;
}
p{
    text-align: center;
}
a 
{
   text-decoration: none;
   color: red;
   font-style: italic;
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: green;
   font-weight:bold;
}
a:visited /* Quand le visiteur a déjà vu la page concernée */
{
    color: #AAA; /* Appliquer une couleur grise */
}

  

  
  
ul {
    border: 1px solid rgb(8, 8, 8);
    box-shadow: 6px 6px 0px black;
 
    display: flex;
  
    background: #011603;
   
    justify-content: space-around;
    padding: 12px;
  }
  
  ul li {
    list-style: none; 
  }
body{
    background-color: #969996;
    
}
#contact{
    /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 400px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  text-align: center;
}
